<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Post</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../css/post.css">
        <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    </head>
    <body>
        <section class="post">
            <div class="publicacion">
                <header>
                    <figure class="foto">
                        <a href="../img/foto-1.jpg" target="_blank" class="icono">
                            <img src="../img/foto-1.jpg" alt="Foto">
                        </a>
                    </figure>
                    <div class="informacion">
                        <h1>
                            <a href="../img/foto-1.jpg" target="_blank">Gustavo Herrera</a>
                        </h1>
                        <a href="https://www.google.com/" target="_blank">
                            <img src="../img/arrow.png" alt="Icono">
                            <span>PHP Framework Laravel ESPAÑOL</span>
                        </a>
                    </div>
                    <div class="tiempo">
                        <span>3 sem.</span>
                    </div>
                </header>
                <article>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                </article>
                <footer>
                    <div class="grupo">
                        <a href="javascript:;" class="icono">
                            <span>+1</span>
                        </a>
                        <span>3</span>
                    </div>
                    <div class="grupo">
                        <div class="grupo">
                            <a href="javascript:;" class="icono">
                                <img src="../img/comment.png" alt="icono">
                            </a>
                            <span>5</span>
                        </div>
                        <a href="javascript:;" class="icono">
                            <img src="../img/share.png" alt="icono">
                        </a>
                    </div>
                </footer>
                <aside>
                    <a href="https://www.facebook.com/" target="_blank">Compartida publicamente</a>
                    <a href="https://www.twitter.com/" target="_blank">Ver actividad</a>
                    <a href="https://www.twitter.com/" target="_blank">Enlaces externos</a>
                </aside>
            </div>
            <ul class="comentarios">
                <!-- <li>
                    <figure class="foto">
                        <a href="../img/foto-2.jpeg" target="_blank" class="icono">
                            <img src="../img/foto-2.jpeg" alt="Foto">
                        </a>
                    </figure>
                    <div class="informacion">
                        <h2>
                            <a href="../img/foto-2.jpeg" target="_blank">Felipe Manzilla</a>
                            <span>+1</span>
                        </h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea <a href="https://www.google.com.pe/search?q=fotos+compartidas&source=lnms&tbm=isch&sa=X&ved=0ahUKEwiR1PaK-erUAhUDJCYKHRuPDA0Q_AUICigB&biw=1366&bih=662#tbm=isch&q=paisajes">fotos adjuntas</a>. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
                    </div>
                    <div class="tiempo">
                        <span>3 mint.</span>
                    </div>
                </li>
                <li>
                    <figure class="foto">
                        <a href="../img/foto-1.jpg" target="_blank" class="icono">
                            <img src="../img/foto-1.jpg" alt="Foto">
                        </a>
                    </figure>
                    <div class="informacion">
                        <h2>
                            <a href="../img/foto-1.jpg" target="_blank">Gustavo Herrera</a>
                        </h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea <a href="https://www.google.com.pe/search?q=fotos+compartidas&source=lnms&tbm=isch&sa=X&ved=0ahUKEwiR1PaK-erUAhUDJCYKHRuPDA0Q_AUICigB&biw=1366&bih=662#tbm=isch&q=paisajes">fotos adjuntas</a>. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
                    </div>
                    <div class="tiempo">
                        <span>3 mint.</span>
                    </div>
                </li>
                <li>
                    <figure class="foto">
                        <a href="../img/foto-2.jpeg" target="_blank" class="icono">
                            <img src="../img/foto-2.jpeg" alt="Foto">
                        </a>
                    </figure>
                    <div class="informacion">
                        <h2>
                            <a href="../img/foto-2.jpeg" target="_blank">Felipe Manzilla</a>
                            <span>+1</span>
                        </h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea <a href="https://www.google.com.pe/search?q=fotos+compartidas&source=lnms&tbm=isch&sa=X&ved=0ahUKEwiR1PaK-erUAhUDJCYKHRuPDA0Q_AUICigB&biw=1366&bih=662#tbm=isch&q=paisajes">fotos adjuntas</a>. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
                    </div>
                    <div class="tiempo">
                        <span>3 mint.</span>
                    </div>
                </li> -->
            </ul>
            <form class="nuevo_comentario" action="respuesta.html" method="get">
                <label for="comenta" class="icono">
                    <span>O</span>
                </label>
                <input  type  = "text"
                        name  = "comentario"
                        value = ""
                        id    = "comenta"
                        placeholder="Añadir un comentario"
                        required
                >
            </form>
        </section>

        <script src="../js/jquery.js" charset="utf-8"></script>
        <script src="../js/post.js" charset="utf-8"></script>
    </body>
</html>
